html{
    touch-action: manipulation
}

body{
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    user-select: none;
}

.header{
    text-align: center;
}

.header h1{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 3em;
    color: #333;
}

.header h3{
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 1.5em;
    color: #555;
    font-weight: 400;
}

.viewNumber{
    text-align: center;
    font-size: 4em;
    color: #444;
}

.controlButtonList{
    text-align: center;
}

.controlButton{
    padding-left: 100px;
    padding-right: 100px;
}

.resetButton{
    padding: 5px 50px;
}

.addButton{
    margin-right: 2px;
}

.decButton{
    margin-left: 2px;
}

.addButton, .decButton{
    padding:50px 100px;
}

@media screen and (max-width: 640px){
    .main{
        margin-top: 5em;
    }

    .addButton, .decButton{
        margin: 0;
        padding: 50px 70px;
    }
}